<?xml version="1.0" encoding="UTF-8"?>
<swiftsettings>
    <group name="settings_fb" app="facebook" ishidden="0">
        <setting name="fb_general" type="title" />
        <setting name="fb_showPhrase" type="yesno">
            <defaultvalue>1</defaultvalue>
        </setting>
	    <setting name="fb_appid" type="text">
		    <defaultvalue></defaultvalue>
	    </setting>
	    <setting name="fb_secretkey" type="text">
		    <defaultvalue></defaultvalue>
	    </setting>
	    <setting name="fb_pageid" type="text">
		    <defaultvalue></defaultvalue>
	    </setting>
    </group>

</swiftsettings>